* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header__nav-title {
    font-family: 'MB';
    font-size: 70px;
    text-align: center;
    padding-top: 50px;
    color: aliceblue;
    padding-bottom: 50px;
}

body {
    background: #000;
}

.main__slide-1-img {
    max-width: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 47%;
}

.main__slide-1 {
    display: flex;
    justify-content: space-between;
}

.main__slide-1-text {
    color: aliceblue;
    font-family: 'MB';
    text-align: center;
    padding-top: 60px;
}

.main__slide2-text {
    color: aliceblue;
    font-family: 'MB';
   padding-top: 130px;
   padding-left: 100px;
   line-height: 300%;
   width: 900px;
}

.main__slide2 {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}

.main__slide3-text {
    color: aliceblue;
    font-family: 'MB';
    padding-top: 200px;
    width: 700px;
    line-height: 250%;
}

.main__slide3 {
    display: flex;
    justify-content: space-between;
    padding-top: 250px;
}

.main__slide3-img {
 width: 500px;
 border-radius: 5%;
}

.main__slide2-img {
    border-radius: 5%;
    width: 800px;
}

.main__slide4-text {
    color: aliceblue;
    font-family: 'MB';
    width: 500px;
    line-height: 250%;
    text-align: center;
    padding-top: 50px;
}

.main__slide4-img-1 {
    width: 550px;
    border-radius: 5%;
}

.main__slide4-img-4 {
    width: 550px;
    border-radius: 5%;
}

.main__slide4 {
    display: flex;
    justify-content: space-between;
    padding-top: 250px;
    padding-bottom: 100px;
}

.main__slide4-img-2 {
    background: #c4c4c4;
    width: 61px;
    height: 3px;
    margin-top: 200px;
}

.main__slide4-img-3 {
    background: #c4c4c4;
    width: 61px;
    height: 3px;
    text-align: center;
    margin-top: 200px;
}

.main__slide5-text {
    color: aliceblue;
    font-family: 'MB';
    width: 500px;
    text-align: center;
    line-height: 250%;
    padding-top: 100px;
}

.main__slide5-img-1 {
    width: 550px;
    height: 600px;
    border-radius: 5%;
    object-fit: cover;
}

.main__slide5-img-4 {
    width: 550px;
    height: 600px;
    border-radius: 5%;
    object-fit: cover;
}

.main__slide5 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 200px;
}

.main__slide5-img-3 {
    background: #c4c4c4;
    width: 61px;
    height: 3px;
    margin-top: 300px;
}

.main__slide5-img-2 {
    background: #c4c4c4;
    width: 61px;
    height: 3px;
    margin-top: 300px;
}

.main__slide6-text {
    color: aliceblue;
    font-family: 'MB';
    width: 500px;
    line-height: 250%;
    padding-top: 130px;
}

.main__slide6 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 200px;
}

.main__slide6-img-1 {
    background: #c4c4c4;
    width: 61px;
    height: 3px;
    margin-top: 300px;
}

.main__slide6-img-3 {
    background: #c4c4c4;
    width: 61px;
    height: 3px;
    margin-top: 300px;
}

.main__slide6-img-2 {
    object-fit: cover;
    border-radius: 5%;
}

.footer {
    background: cornflowerblue;
}

.footer__title {
    color: black;
    padding: 30px;
    font-family: 'MB';
    text-align: center;
    opacity: 0;
    transition: 300ms;
}

.footer__title:hover {
    opacity: 1;
}









